.artist-card-image {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
    background-size: cover;
    background-: center center;
    border-radius: 0.375rem;
    width: 100%;
}
